.detail {
  
  &:before { content: ""; display: table; } 
  &:after { content: "."; display: block; height: 0; visibility: hidden; clear: both; }

  .photo-column, .info-column {float: left;}
  
  .photo-column {
    margin-left: .75rem;
    margin-right: .75rem; 
    width: 30%;
    width: calc( 35% - 1.5rem ); 
  }
  
  .info-column {
    margin-left: 1rem;
    margin-right: 1rem; 
    padding: 1.25rem;
    width: 60%; 
    width: calc( 65% - 2rem - 2.5rem ); 
  }

}

