.page-wrap {
  
  header {
    .navskin{
      nav {
        ul{
          padding-top: 5vh;
          list-style: none; 
          text-align: center;

          li {
            display: inline-block;
            
            padding-right: 2.5vw;
            padding-left: 2.5vw;
            border-right: 1px solid $col_red_a;

            &:last-child {border-right: none; }

            a {
              text-decoration: none; 
              font-weight: normal;
              
              &:link { color: $col_grey_74; }
              &:visited { color: $col_red_a; }
              &:hover { color: $col_grey_137; }
              &:active { color: $col_black; }
            }

          }
        }
      }
    }
  }

  footer {
    .footrow {
      text-align: center;
      margin: 0 auto;
      padding-top: 1.75rem;

      p {
        text-shadow: none;
        text-align: inherit;
        font-size: .9rem;
        line-height: 1.25em;
        margin: .5rem auto .25rem auto;
        padding: 0;

        &#datestamp {
          font-size: 1rem;
        }
      }

      .copyright {
        
        // #footrider { }

        #acOps { display: none; }
        #swOps { display: none; } 

        #swOps, #acOps {
          text-align: center;
          margin: 0 auto;
          padding-bottom: 1.5rem;
          
          input[type=button] {
            
            font-size: 1rem;
            background: $col_white; 
            // background: linear-gradient(top, $col_white 0%,$col_grey_239 100%); 
            background: linear-gradient(to bottom, $col_white 0%,$col_grey_239 100%); 
            border-radius: 3px;
            box-shadow: 0 3px 4px -1px $col_grey_74;
            padding: 6px 12px;

            &:hover, &:focus {
              background: $col_grey_239; 
              // background: linear-gradient(top, $col_grey_239 0%,$col_white 100%); 
              background: linear-gradient(to bottom, $col_grey_239 0%,$col_white 100%); 
              box-shadow: 0 1px 1px 0 $col_grey_153;
            }
            &:focus {
              box-shadow: 2px 3px 2px -1px $col_grey_74 inset, 0 1px 1px 0 $col_grey_153;
            }
          }
        }
      }
    }
  }

}