@import 'staticVars.scss';
@import 'resetto.scss';

html { font-size: 1em; line-height: 1.5rem; }
body{  background-color: $col_grey_221; font-family: Helvetica, Arial, sans-serif; padding: 30px 0; }
div { padding: 30px 0; }


h1 {
  font-size: 6vw;
  font-weight: 500;
  margin: .25em 0;
  padding: .25em 0;
  border-bottom: 1px solid $col_grey_221;
  line-height: 4.5rem;
  text-align: center;
  color: $col_red_a;
}

h2{ padding: 2rem; font-size: 2.4em; font-weight: normal; text-align: center; text-transform: capitalize; }
p { font-size: 1.2rem; line-height: 1.6rem; padding: 1rem; }

.page-wrap { 
  max-width: 1024px; 
  padding: 0 16px; 
  margin: 0 auto; 
}

@import 'header_footer.scss';
@import 'loadicon.scss';

@import 'main.scss';
@import 'flotation.scss';
@import 'flexdisplay.scss';

@import 'picture.scss';

@import 'tabs.scss';

@import 'MQ.scss';