#loadicon { 
  position: relative; 
  top: 15%; left: calc( 50% - 30px ); 
  display: none; 
  width: 30px; height: 30px; 
  margin: 0 0 0 0; padding: 1.5%; 
  border: 8px solid $col_creamy_white; border-left-color: $col_trans; border-right-color: $col_trans; 
  border-radius: 50%; 
  box-shadow: 0 0 25px 2px $col_faded_red; 
  background-color: $col_faded_red; 
}

#loadicon::after{ 
  content: " "; 
  display: block; 
  width: 9px; height: 9px; 
  margin: 4px; 
  border: 6px solid $col_creamy_white; border-left-color: $col_trans; border-right-color: $col_trans; 
  border-radius: 50%; 
}
