.detail { 
  background-color: $col_grey_239; 

  .photo-column{ 
    padding-top: 5rem; background-color: $col_grey_239; 

    .detail-photo { 
      max-width: 95%; 
      box-shadow: 10px 5px 12px $col_grey_74;
      max-width: calc(100% - 5px - 2.5px - 12px); 
    }

  }

  .info-column{ 
    box-sizing: border-box; 

    h3 { 
      font-weight: normal; margin: 0; font-size: 2.5rem; padding: 1.65rem 0 .75rem 0; text-transform: uppercase; line-height: 2.25rem; 
      
      .qualifier{ font-size: 1.45rem; text-transform: capitalize; color: $col_grey_153; }
    }

    .headline-bar{ margin: 0; background-color: $col_grey_204; padding: 8px 15px; }

    .minutae-list { 
      background-color: $col_grey_239; 
      
      li {
        list-style: none; border-bottom: 1px dotted $col_grey_153; font-size: .85rem; padding: .5rem 1rem; 
      } 
    }
  }
}