
@media( max-width: 760px ){
  
  // flotation.scss , flexdisplay.scss
  html { line-height: 2rem; }

  // flotation.scss 
  .detail { 
    .photo-column, .info-column {
      width: auto; float: none; padding: 0; margin: 0;
    }
  }

  // flexdisplay.scss
  .detail {
    display: initial;
    
    .photo-column, .info-column { 
      width: auto; 
      flex: initial;
      padding: 0; 
      margin: 0; 
    }
  }

  // picture element
  .flexer{
    img{
      max-width: 80vw;
      width: 80vw;
      
      &#alphaset {
        max-width: 80vw;
        width: 80vw;
      }
    }
  }

  // css tab elements
  .tabulation { 
    .tabs {
      .tab {
        padding-top: calc(0 + 3px); 
  
        .content{ 
          top: calc(30px + 3px + 2px ); 
        }
  
      }
    }
  
  }

} 