.flexer {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 50em;
  width: calc( 90vw - 32px ); // 32px EQ. to .page-wrap padding (left and right)
  border-bottom: 1px solid $col_grey_221;

  blockquote.comparison {
    display: block;
    padding: .125rem 0 1.8rem 0;
    text-shadow: .0625rem .0625rem $col_grey_137;

    cite {
      text-shadow: none;
      text-decoration: underline;
    }
  }

  & p {
    font-size: 1em;
    line-height: 1.6em;
    margin: 0 auto 1em auto;
    text-align: justify;
    text-shadow: none;
    max-width: calc(50em - 2rem);

    &.lead {
      color: $col_grey_74; background-color: $col_grey_204;
      
      box-shadow: 3px 3px 3px $col_black;
      text-shadow: none;
      max-width: calc(50em - 2rem - 9px);

      &::first-line{ font-weight: bold; font-style: italic; font-size: .9rem; }
    }
  }

  figure {
    margin: 1em auto;
    text-align: center;
  }

  figcaption {
    color: $col_red_a;
    padding: 2em 0;
    text-align: center;
  }

  img {
    &.alphaset {
      transition: width 0.703s;
      max-width: 50vw;
    }
  }

}