* { outline: none; padding:0; margin: 0; background-color: $col_white; color: $col_grey_74; }

html { font-size: 1em; line-height: 1.5rem; }

body{ margin: auto; padding: 0; max-width: inherit; }

img {max-width: 100% ; height: auto; }