
$col_white: rgba(255, 255, 255, 1);
$col_creamy_white: rgba(217, 221, 252, 1);

$col_grey_239: rgba(239, 239, 239, 1);
$col_grey_221: rgba(221, 221, 221, 1);
$col_grey_204: rgba(204, 204, 204, 1);
$col_grey_153: rgba(153, 153, 153, 1);
$col_grey_137: rgba(137, 137, 137, 1);
$col_grey_74: rgba(74, 74, 74, 1);

$col_blue_a: rgba( 50,118,177, 1 );
// $col_red_a: rgba(187, 2, 30, 1 );
$col_red_a: rgba(255,105,105, 1 );

// $col_faded_blue: rgba( 50,118,177, 0.63 );
$col_faded_red: rgba( 187,2,30, 0.63 );

$col_black: rgba(0,0,0, 1);

$col_trans: transparent;