div {padding: 0; }

.tabulation { 
  // background-color: yellow;

  .tabs {
    // background-color: green;
    position: relative; 
    border: 3px solid $col_grey_74; 
    margin: 25px 0;
    min-height: 200px;
    min-height: 50vh; 
    
    &:before { content: ""; display: table; } 
    &:after { content: "."; display: block; height: 0; visibility: hidden; clear: both; }

    .tab {
      // background-color: aqua;
      
      float: left;
      // padding-top: calc(0 + 3px);
      padding-top: calc(0 + 8px);

      overflow: hidden;

      label { 
        background-color: $col_grey_239; 
        padding: 10px; 
        border: 1px solid $col_grey_204; 
        margin-left: -1px; 
        position: relative; 
        left: 1px; 
      }

      input[type=radio]{ 
        display: none; 
        
        &:checked ~ label { 
          background-color: $col_white; 
          border-bottom: 1px solid $col_white; 
          z-index: 2; 

          &~ .content { 
            z-index: 1; 
          }
        }
      }

      .content{ 
        position: absolute; 
        // top: calc(30px + 3px + 2px + 1px + 1px); 
        // top: calc(30px + 3px + 2px + 1px ); 
        // top: calc(30px + 3px + 2px ); 
        top: calc(30px + 2px ); 
        left: 0; 
        right: 0; 
        bottom: 0;

        background: $col_white;
        padding: 20px; 
        border: 1px solid $col_grey_204;

        overflow-y: auto;
      }

    }
  }

}