* {
  outline: none;
  padding: 0;
  margin: 0;
  background-color: white;
  color: #4a4a4a; }

html {
  font-size: 1em;
  line-height: 1.5rem; }

body {
  margin: auto;
  padding: 0;
  max-width: inherit; }

img {
  max-width: 100%;
  height: auto; }

html {
  font-size: 1em;
  line-height: 1.5rem; }

body {
  background-color: #dddddd;
  font-family: Helvetica, Arial, sans-serif;
  padding: 30px 0; }

div {
  padding: 30px 0; }

h1 {
  font-size: 6vw;
  font-weight: 500;
  margin: .25em 0;
  padding: .25em 0;
  border-bottom: 1px solid #dddddd;
  line-height: 4.5rem;
  text-align: center;
  color: #ff6969; }

h2 {
  padding: 2rem;
  font-size: 2.4em;
  font-weight: normal;
  text-align: center;
  text-transform: capitalize; }

p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 1rem; }

.page-wrap {
  max-width: 1024px;
  padding: 0 16px;
  margin: 0 auto; }

.page-wrap header .navskin nav ul {
  padding-top: 5vh;
  list-style: none;
  text-align: center; }
  .page-wrap header .navskin nav ul li {
    display: inline-block;
    padding-right: 2.5vw;
    padding-left: 2.5vw;
    border-right: 1px solid #ff6969; }
    .page-wrap header .navskin nav ul li:last-child {
      border-right: none; }
    .page-wrap header .navskin nav ul li a {
      text-decoration: none;
      font-weight: normal; }
      .page-wrap header .navskin nav ul li a:link {
        color: #4a4a4a; }
      .page-wrap header .navskin nav ul li a:visited {
        color: #ff6969; }
      .page-wrap header .navskin nav ul li a:hover {
        color: #898989; }
      .page-wrap header .navskin nav ul li a:active {
        color: black; }

.page-wrap footer .footrow {
  text-align: center;
  margin: 0 auto;
  padding-top: 1.75rem; }
  .page-wrap footer .footrow p {
    text-shadow: none;
    text-align: inherit;
    font-size: .9rem;
    line-height: 1.25em;
    margin: .5rem auto .25rem auto;
    padding: 0; }
    .page-wrap footer .footrow p#datestamp {
      font-size: 1rem; }
  .page-wrap footer .footrow .copyright #acOps {
    display: none; }
  .page-wrap footer .footrow .copyright #swOps {
    display: none; }
  .page-wrap footer .footrow .copyright #swOps, .page-wrap footer .footrow .copyright #acOps {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1.5rem; }
    .page-wrap footer .footrow .copyright #swOps input[type=button], .page-wrap footer .footrow .copyright #acOps input[type=button] {
      font-size: 1rem;
      background: white;
      background: linear-gradient(to bottom, white 0%, #efefef 100%);
      border-radius: 3px;
      box-shadow: 0 3px 4px -1px #4a4a4a;
      padding: 6px 12px; }
      .page-wrap footer .footrow .copyright #swOps input[type=button]:hover, .page-wrap footer .footrow .copyright #swOps input[type=button]:focus, .page-wrap footer .footrow .copyright #acOps input[type=button]:hover, .page-wrap footer .footrow .copyright #acOps input[type=button]:focus {
        background: #efefef;
        background: linear-gradient(to bottom, #efefef 0%, white 100%);
        box-shadow: 0 1px 1px 0 #999999; }
      .page-wrap footer .footrow .copyright #swOps input[type=button]:focus, .page-wrap footer .footrow .copyright #acOps input[type=button]:focus {
        box-shadow: 2px 3px 2px -1px #4a4a4a inset, 0 1px 1px 0 #999999; }

#loadicon {
  position: relative;
  top: 15%;
  left: calc( 50% - 30px);
  display: none;
  width: 30px;
  height: 30px;
  margin: 0 0 0 0;
  padding: 1.5%;
  border: 8px solid #d9ddfc;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 25px 2px rgba(187, 2, 30, 0.63);
  background-color: rgba(187, 2, 30, 0.63); }

#loadicon::after {
  content: " ";
  display: block;
  width: 9px;
  height: 9px;
  margin: 4px;
  border: 6px solid #d9ddfc;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%; }

.detail {
  background-color: #efefef; }
  .detail .photo-column {
    padding-top: 5rem;
    background-color: #efefef; }
    .detail .photo-column .detail-photo {
      max-width: 95%;
      box-shadow: 10px 5px 12px #4a4a4a;
      max-width: calc(100% - 5px - 2.5px - 12px); }
  .detail .info-column {
    box-sizing: border-box; }
    .detail .info-column h3 {
      font-weight: normal;
      margin: 0;
      font-size: 2.5rem;
      padding: 1.65rem 0 .75rem 0;
      text-transform: uppercase;
      line-height: 2.25rem; }
      .detail .info-column h3 .qualifier {
        font-size: 1.45rem;
        text-transform: capitalize;
        color: #999999; }
    .detail .info-column .headline-bar {
      margin: 0;
      background-color: #cccccc;
      padding: 8px 15px; }
    .detail .info-column .minutae-list {
      background-color: #efefef; }
      .detail .info-column .minutae-list li {
        list-style: none;
        border-bottom: 1px dotted #999999;
        font-size: .85rem;
        padding: .5rem 1rem; }

.detail:before {
  content: "";
  display: table; }

.detail:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both; }

.detail .photo-column, .detail .info-column {
  float: left; }

.detail .photo-column {
  margin-left: .75rem;
  margin-right: .75rem;
  width: 30%;
  width: calc( 35% - 1.5rem); }

.detail .info-column {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1.25rem;
  width: 60%;
  width: calc( 65% - 2rem - 2.5rem); }

.detail {
  display: flex;
  /* flex-flow: row wrap; */
  /*flex-flow is shorthand for flex-direction & flex-wrap */
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around; }
  .detail:before {
    content: "";
    display: table; }
  .detail:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both; }
  .detail .photo-column, .detail .info-column {
    flex: none; }
  .detail .photo-column {
    margin-left: .75rem;
    margin-right: .75rem;
    width: 30%;
    width: calc( 35% - 1.5rem); }
  .detail .info-column {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1.25rem;
    width: 60%;
    width: calc( 65% - 2rem - 2.5rem); }

.flexer {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 50em;
  width: calc( 90vw - 32px);
  border-bottom: 1px solid #dddddd; }
  .flexer blockquote.comparison {
    display: block;
    padding: .125rem 0 1.8rem 0;
    text-shadow: 0.0625rem 0.0625rem #898989; }
    .flexer blockquote.comparison cite {
      text-shadow: none;
      text-decoration: underline; }
  .flexer p {
    font-size: 1em;
    line-height: 1.6em;
    margin: 0 auto 1em auto;
    text-align: justify;
    text-shadow: none;
    max-width: calc(50em - 2rem); }
    .flexer p.lead {
      color: #4a4a4a;
      background-color: #cccccc;
      box-shadow: 3px 3px 3px black;
      text-shadow: none;
      max-width: calc(50em - 2rem - 9px); }
      .flexer p.lead::first-line {
        font-weight: bold;
        font-style: italic;
        font-size: .9rem; }
  .flexer figure {
    margin: 1em auto;
    text-align: center; }
  .flexer figcaption {
    color: #ff6969;
    padding: 2em 0;
    text-align: center; }
  .flexer img.alphaset {
    transition: width 0.703s;
    max-width: 50vw; }

div {
  padding: 0; }

.tabulation .tabs {
  position: relative;
  border: 3px solid #4a4a4a;
  margin: 25px 0;
  min-height: 200px;
  min-height: 50vh; }
  .tabulation .tabs:before {
    content: "";
    display: table; }
  .tabulation .tabs:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both; }
  .tabulation .tabs .tab {
    float: left;
    padding-top: calc(0 + 8px);
    overflow: hidden; }
    .tabulation .tabs .tab label {
      background-color: #efefef;
      padding: 10px;
      border: 1px solid #cccccc;
      margin-left: -1px;
      position: relative;
      left: 1px; }
    .tabulation .tabs .tab input[type=radio] {
      display: none; }
      .tabulation .tabs .tab input[type=radio]:checked ~ label {
        background-color: white;
        border-bottom: 1px solid white;
        z-index: 2; }
        .tabulation .tabs .tab input[type=radio]:checked ~ label ~ .content {
          z-index: 1; }
    .tabulation .tabs .tab .content {
      position: absolute;
      top: calc(30px + 2px);
      left: 0;
      right: 0;
      bottom: 0;
      background: white;
      padding: 20px;
      border: 1px solid #cccccc;
      overflow-y: auto; }

@media (max-width: 760px) {
  html {
    line-height: 2rem; }
  .detail .photo-column, .detail .info-column {
    width: auto;
    float: none;
    padding: 0;
    margin: 0; }
  .detail {
    display: initial; }
    .detail .photo-column, .detail .info-column {
      width: auto;
      flex: initial;
      padding: 0;
      margin: 0; }
  .flexer img {
    max-width: 80vw;
    width: 80vw; }
    .flexer img#alphaset {
      max-width: 80vw;
      width: 80vw; }
  .tabulation .tabs .tab {
    padding-top: calc(0 + 3px); }
    .tabulation .tabs .tab .content {
      top: calc(30px + 3px + 2px); } }

/*# sourceMappingURL=complete.css.map */
